<div class="center padded white-bg">
    <div class="content padded ">
        <div class="padded">
            <h1>No estas convenvido? mira lo que eh construido!</h1>
        </div>

        <div class="row">
            <div class="card third">
                <h3>Proyecto 1</h3>
                <p>Este es mi proyecto 1</p>
                <a class="green" target="_blank" href="https://github.com/JordinRosario/Proyecto-1">Link aqui</a>
            </div>
            <div class="card third">
                <h3>Manejo de datos</h3>
                <p>Este es mi proyecto 2</p>
                <a class="green" target="_blank" href="https://github.com/JordinRosario/Manejo-de-datos">Link aqui</a>
            </div>
            <div class="card third">
                <h3>Portafolio</h3>
                <p>Portafolio para mostrar mis proyectos</p>
                <a class="green" href="https://github.com/JordinRosario/Portfolio" target="_blank">Link aqui</a>
            </div>
        </div>
    </div>
</div>
