<div class="center">
    <div class="content">
        <div class="row vert-pad">
            <div class="left padded">
                <h1>Manejo datos con pasion para la solucion de problemas</h1>
                <p>Constamente me encuentro aprendiendo nuevas tecnologias y desarrollando y manejando datos por 
                    placer. Esta web la construi desde 0 con Python y Flask. Me interesar conocer mas del mundo de las Ciencias de Datos y Data Scientist

                </p>
            </div>
            <div class="right padded">
                <h1>Podemos conversar lo que quieras</h1>
                <p>Solo enviame un mensaje  <a class="green" target="_blank" href="https://twitter.com/JordinRosario">haciendo click aqui</a> </p>
            </div>
        </div>
    </div>
</div>